.htacces
.vscode
/file-sharing/pages/adobe2020/Adobe.Acrobat.Pro.DC.2020.u7.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Photoshop.2020.u12.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.After.Effects.2020.u9.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Animate.2020.u6.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Audition.2020.u9.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Character.Animator.2020.u4.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Lightroom.Classic.v9.4.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Media.Encoder.2020.u9.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Prelude.2020.u1.Multilingual.iso
/file-sharing/pages/adobe2020/Adobe.Premiere.Pro.2020.u9.Multilingual.iso
/file-sharing/pages/games/PrisonArchitectFreeforLifeCrowbarHotelUpdateInclALLDLC.zip
.mp4
/assets/video-pic-gif/rainyboots.mp4
/.gitignore